{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="It me." height=200px width=200px >
        </div>
        <h3>I'm <strong>{{ .Site.Params.author }} MD</strong>, a physician with many passions.</h3>
        <h3>This is a collection of the projects I've done - data science projects using R and Python, art/graphic design, and more!</h3>
        <h3>Contact me at <a href="http://linkedin.com/in/{{ .Site.Params.Social.Linkedin }}">@{{ .Site.Params.Social.Linkedin }}</a> on Linkedin or by <a href="mailto:{{ .Site.Params.Social.Email }}">email</a>.</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
